body, html {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    margin-top: 20px;
    padding-left: 5px;
    border-left: 2px solid #00f28f;
    opacity: 0;
    transition: opacity .6s, padding-left .6s;
}

.main {
    margin-top: 70px;
    line-height: 1.42em;
}

.form {
    opacity: 0;
    margin-top: -30px;
    transition: opacity .6s, margin-top .6s;
}

.input {
    width: 83.333333%;
    float: left;
}

input {
    box-sizing: border-box;
    font: inherit;
    padding: 20px;
    border: none;
    margin: 0;
    border-left: 2px solid #ffffff;
    background: #f0f0f0;
    width: 100%;
    transition: border 1s, background 1s;
}

input:focus {
    outline: none;
    background: #ffffff;
    border-color: #000000;
}

.btn {
    font: inherit;
    border: none;
    border-radius: 4px;
    margin: 0;
    margin-left: 25px;
    padding: 20px 24px;
    color: #00f28f;
    background: #ffffff;
    cursor: pointer;
    transition: color 1s, background 1s;
}

.btn:hover {
    color: #ffffff;
    background: #00f28f;
}

.btn:focus {
    outline: none;
}

.comments {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    list-style-type: none;
    opacity: 0;
    transition: opacity .6s;
}

.comments li {
    position: absolute;
    top: 0;
    padding-left: 20px;
    border-left: 2px solid #000000;
    transition: top .6s, left .6s;
}

@media (max-width:1200px) {
    .container {
        max-width: 940px;
    }
}

@media (max-width:980px) {
    .container { max-width: 720px; }
    .input { width: 75%; }
}

@media (max-width:750px) {
    .container { max-width: 580px; }
    .input { width: 100%; }
    .btn {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        border: 1px solid #00f28f;
    }
    h1 {
        text-align: center;
        padding: 0;
        padding-bottom: 20px;
        border: none;
        border-bottom: 2px solid #00f28f;
    }
    .main { 
        font-size: 28px;     
        margin-top: 40px; 
        line-height: 36px;
    }
}
